body {
  /*font-family: "Arial";
  font-size: 11pt;*/
  width: 98%;
  margin: 0 auto;
}

table.basetable {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #00a861;
  border-spacing: 0;
  border-collapse: inherit;
  border-radius: 5px;
}
table.basetable.alt1 { border: 2px solid #962B00; }
table.basetable.alt2 { border: 2px solid #3258AE; }
table.basetable.alt3 { border: 2px solid #3E0A82; }
table.basetable table {
  font-size: .85em;
}
table.basetable > tbody > tr > th {
  background-color: #00a861;
  color: #fff;
  text-align: left;
  font-size: 1.1em;
  padding: 5px;
}
table.basetable.alt1 > tbody > tr > th { background-color: #962B00; }
table.basetable.alt2 > tbody > tr > th { background-color: #3258AE; }
table.basetable.alt3 > tbody > tr > th { background-color: #3E0A82; }
table.basetable > tbody > tr > td {
  padding: 5px;
}

table.basetable div input[type="text"],
table.basetable div input[type="password"],
table.basetable div select {
  width: 95%;
  padding: 5px;
  margin: 2px 0 10px 0;
  border: 1px solid #d8d8d8;
  text-transform: uppercase;
  font-weight: 600;
}
table.basetable div input[type="password"] {
  text-transform: none;
}
table.basetable div:last-child input[type="text"] {
  margin-bottom: 5px;
}
input[type="button"],
input[type="submit"],
.buttonlink > a {
  text-decoration: none;
  border-style: none;
  padding: 7px 14px;
  color: #fff !important;
  background-color: #00a861;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  text-transform: uppercase;
}
input[type="button"].alt1, input[type="submit"].alt1 { background-color: #962B00; }
input[type="button"].alt2, input[type="submit"].alt2 { background-color: #3258AE; }
input[type="button"].alt3, input[type="submit"].alt3 { background-color: #3E0A82; }
input[type="button"]:active,
input[type="submit"]:active,
.buttonlink > a:active {
  top: 2px;
}
input[type="button"]:disabled,
input[type="submit"]:disabled,
.buttonlink > a:not([href]) {
  background-color: #dddddd;
  cursor: default;
}
input[type="submit"].xls, input[type="submit"].pdf {
  padding-left: 40px;
  background-image: url(../img/ico_excel.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-size: 26px;
}
input[type="submit"].pdf {
  background-image: url(../img/ico_pdf.png);
}

div.fifty, div.twentyfive, div.twenty, div.thirty {
  float: left;
  width: 100%;
}

#LabelMensaje, .LabelMensaje {
  display: block;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #ff0000;
  font-size: .9em;
}
.errormessage {
  margin: 0;
  color: #ff4d4d;
  font-size: .9em;
}
.errormessage2 {
  margin: 0;
  color: #ffffff;
  font-size: .9em;
}
.price {
  text-align: right !important;
}
#TreeViewMenu table tr td {
  padding: 0 !important;
}
#TreeViewMenu {
  background-color: #00a861;
}
#TreeViewMenu.alt1 { background-color: #962B00; }
#TreeViewMenu.alt2 { background-color: #3258AE; }
#TreeViewMenu.alt3 { background-color: #3E0A82; }
#TreeViewMenu a {
  color: #fff;
  font-weight: 600;
}
.buttonlink > a {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 0.8em;
}
/*Grid styles*/
.grid_header, .grid_footer, .grid_pager {
  color: #fff;
  background-color: #00683B;
  font-weight: bold;
}
.grid_row, .grid_selected, .grid_edit { background-color: #e6fff4; }
.grid_row a, .grid_selected a, .grid_edit a {
  color: #48c08d;
  text-decoration: underline;
}
.grid_selected {}
.grid_pager {}
.grid_pager table { margin: 0 auto; }
.grid_pager table tr td { padding: 5px 1px; }
.grid_pager span, .grid_pager a {
  padding: 5px;
  background-color: #48C08D;
  font-weight: bold;
  text-decoration: none;
  color: #fff !important;
}
.grid_pager a { background-color: transparent; }
.grid_pager a:hover { background-color: #48C08D; }

.grid_header.alt1, .grid_footer.alt1, .grid_pager.alt1 { background-color: #471400; }
.grid_row.alt1, .grid_selected.alt1, .grid_edit.alt1 { background-color: #ffede6; }
.grid_row.alt1 a, .grid_selected.alt1 a, .grid_edit.alt1 a { color: #D76335; }
.grid_pager.alt1 span, .grid_pager.alt1 a { background-color: #D76335; }
.grid_pager.alt1 a { background-color: transparent; }
.grid_pager.alt1 a:hover { background-color: #D76335; }

.grid_header.alt2, .grid_footer.alt2, .grid_pager.alt2 { background-color: #0D2E7A; }
.grid_row.alt2, .grid_selected.alt2, .grid_edit.alt2 { background-color: #e8eefd; }
.grid_row.alt2 a, .grid_selected.alt2 a, .grid_edit.alt2 a { color: #7894D4; }
.grid_pager.alt2 span, .grid_pager.alt2 a { background-color: #7894D4; }
.grid_pager.alt2 a { background-color: transparent; }
.grid_pager.alt2 a:hover { background-color: #7894D4; }

.grid_header.alt3, .grid_footer.alt3, .grid_pager.alt3 { background-color: #22034C; }
.grid_row.alt3, .grid_selected.alt3, .grid_edit.alt3 { background-color: #f1e7fd; }
.grid_row.alt3 a, .grid_selected.alt3 a, .grid_edit.alt3 a { color: #6734AA; }
.grid_pager.alt3 span, .grid_pager.alt3 a { background-color: #6734AA; }
.grid_pager.alt3 a { background-color: transparent; }
.grid_pager.alt3 a:hover { background-color: #6734AA; }


/***Login Page***/
.logincontainer {
  width: 100%;
  font-size: 1.1em;
}
.logincontainer table {
  margin: 0 auto;
  width: 55%;
  margin-top: 10px;
}
.logincontainer table th {
  text-align: center !important;
  font-size: 1.2em !important;
}

/***Collapsible Panel***/
.collapseBar {
  width: 100%;
  background-color: #00a861;
  color: #fff;
}
.collapseBar.alt1 { background-color: #962B00; }
.collapseBar.alt2 { background-color: #3258AE; }
.collapseBar.alt3 { background-color: #3E0A82; }
.collapseBar span,
.collapseBar img {
  display: inline-block;
  padding: 3px;
  text-decoration: underline;
}
.collapseBar img {
  float: right;
  margin-top: 5px;
}
.innerPanel {
  width: 100%;
  position: relative;
}
.innerPanel table.basetable {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.innerPanel input[type="checkbox"] {
  margin: 8px;
}
.PanelDatosGen {
  border: 2px solid #00a861;
  padding: 5px;
}
.PanelDatosGen.alt1 { border: 2px solid #962B00; }
.PanelDatosGen.alt2 { border: 2px solid #3258AE; }
.PanelDatosGen.alt3 { border: 2px solid #3E0A82; }


/***Tab container***/
.ajax__tab_container {
  margin-top: 10px;
}
.ajax__tab {
  
}
.ajax__tab_tab {
  font-size: 1.1em !important;
}
.ajax__tab_xp .ajax__tab_header {
  min-height: 100% !important;
}


/***Calendar Control***/
.ajax__calendar_container td {
  padding: 0 !important;
}


@media only screen and (min-width: 1024px) {
    table .basetable div input[type="text"] {
    margin: 2px 0 5px 0;
  }
  div.fifty {
    width: 50%;
  }
  div.twentyfive {
    width: 25%;
  }
  div.twenty {
    width: 20%;
  }
  div.thirty {
    width: 33%;
  }
  .innerPanel table.basetable div input[type="text"],
  .innerPanel table.basetable div input[type="password"] {
    width: 90%;
  }
  .innerPanel input[type="button"],
  .innerPanel input[type="submit"] {
    position: absolute;
    top: 25%;
  }

  .logincontainer table {
    width: 300px;
  }
}