body {
  /*font-family: "Arial";
  font-size: 11pt;*/
  width: 98%;
  margin: 0 auto;
}

table.basetable {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #00a861;
  border-spacing: 0;
  border-collapse: inherit;
  border-radius: 5px;
}
table.basetable table {
  font-size: .85em;
}
table.basetable > tbody > tr > th {
  background-color: #00a861;
  color: #fff;
  text-align: left;
  font-size: 1.1em;
  padding: 5px;
}
table.basetable > tbody > tr > td {
  padding: 5px;
}

table.basetable div input[type="text"],
table.basetable div input[type="password"],
table.basetable div select {
  width: 95%;
  padding: 5px;
  margin: 2px 0 10px 0;
  border: 1px solid #d8d8d8;
  text-transform: uppercase;
  font-weight: 600;
  /*color: #00a861;*/
}
table.basetable div input[type="password"] {
  text-transform: none;
}
table.basetable div:last-child input[type="text"] {
  margin-bottom: 5px;
}
input[type="button"],
input[type="submit"] {
  border-style: none;
  padding: 7px 14px;
  color: #fff;
  background-color: #00a861;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  text-transform: uppercase;
}
input[type="button"]:active,
input[type="submit"]:active {
  top: 2px;
}
input[type="button"]:disabled,
input[type="submit"]:disabled {
  background-color: #dddddd;
}

div.fifty {
  float: left;
  width: 100%;
}
div.twentyfive {
  float: left;
  width: 100%;
}
div.twenty {
  float: left;
  width: 100%;
}

#LabelMensaje, .LabelMensaje {
  display: block;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #ff0000;
  font-size: .9em;
}
.errormessage {
  margin: 0;
  color: #ff4d4d;
  font-size: .9em;
}
.errormessage2 {
  margin: 0;
  color: #ffffff;
  font-size: .9em;
}
.price {
  text-align: right !important;
}
.gridpager {
  background-color: #1c5e55;
}
.gridpager table {
  margin: 0 auto;
}
.gridpager table tr td{
  padding: 5px 1px;
}
.gridpager span, .gridpager a {
  padding: 5px;
  background-color: #23766b;
  font-weight: bold;
  text-decoration: none;
  color: #fff !important;
}
.gridpager a {
  background-color: transparent;
}
.gridpager a:hover {
  background-color: #23766b;
}
#TreeViewMenu table tr td {
  padding: 0 !important;
}
#TreeViewMenu {
  background-color: #00a861;
}
#TreeViewMenu a {
  color: #fff;
  font-weight: 600;
}


/***Login Page***/
.logincontainer {
  width: 100%;
  font-size: 1.1em;
}
.logincontainer table {
  margin: 0 auto;
  width: 55%;
  margin-top: 10px;
}
.logincontainer table th {
  text-align: center !important;
  font-size: 1.2em !important;
}


/***Collapsible Panel***/
  .collapseBar {
    width: 100%;
    background-color: #00a861;
    color: #fff;
  }
.collapseBar span,
.collapseBar img {
  display: inline-block;
  padding: 3px;
  text-decoration: underline;
}
.collapseBar img {
  float: right;
  margin-top: 5px;
}
.innerPanel {
  width: 100%;
  position: relative;
}
.innerPanel table.basetable {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.innerPanel input[type="checkbox"] {
  margin: 8px;
}
.PanelDatosGen {
  border: 2px solid #00a861;
  padding: 5px;
}


/***Tab container***/
.ajax__tab_container {
  margin-top: 10px;
}
.ajax__tab {
  
}
.ajax__tab_tab {
  font-size: 1.1em !important;
}
.ajax__tab_xp .ajax__tab_header {
  min-height: 100% !important;
}


/***Calendar Control***/
.ajax__calendar_container td {
  padding: 0 !important;
}


@media only screen and (min-width: 1024px) {
    table .basetable div input[type="text"] {
    margin: 2px 0 5px 0;
  }
  div.fifty {
    width: 50%;
  }
  div.twentyfive {
    width: 25%;
  }
  div.twenty {
    float: left;
    width: 20%;
  }
  .innerPanel table.basetable div input[type="text"],
  .innerPanel table.basetable div input[type="password"] {
    width: 90%;
  }
  .innerPanel input[type="button"],
  .innerPanel input[type="submit"] {
    position: absolute;
    top: 25%;
  }

  .logincontainer table {
    width: 300px;
  }
}