body {
}
.ajax__tab_xp .ajax__tab_header {
    /*height: 40px;*/
    /*border: 1px solid red;*/
    min-height: 30px;
}

.ajax__tab .ajax__tab_tab {
    font-size: 17px;
    height: 35px;
    /*border: 1px solid blue;*/
    min-height: 30px;
}

.tabla01 table {
    border-collapse: collapse;
    border: 1px solid blue;
}

.tabla01 th {
    background-color: #4CAF50;
    color: white;
}

.tabla01 th, td {
    text-align: left;
}

.tabla02 table {
    border: 1px solid green;
}

.tabla02 th {
    background-color: #3333FF;
    color: white;
    width: 100%;
}

.tabla02 th, td {
    text-align: left;
}

.tabla03 table {
    border: 1px solid black;
}

.tabla03 td {
    background-color: darkseagreen;
}

/*.ajax__tab .ajax__tab_body {
    position: inherit;
    top: 30px;   change it here also
    border: 1px solid red;
    border-top: 0px;
}*/

.Button {
    background: #4969c2;
    color: #fff;
    font-size: 16px;
    font-family: Calibri;
    padding: 6px 30px;
    border: none;
    border-bottom: 15px solid black;
    border-radius: 5px;
}
.imagen {
    width:100%;
    height:100%;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=50);
    opacity: 0.8;
}

.Popup {
    background-color: #4CAF50;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 1200px;
    height: 600px;
}

/*Modal Popup*/
.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: Gray;
  width: 99%;
  height: auto;
  padding: 5px;
}

.modalPopupHeader {
  text-align: center;
  padding: 0 5px 5px 5px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: move;
}
    .modalPopup p {
        padding: 5px;
    }


.sampleStyleA {
    background-color: #FFF;
}

.sampleStyleB {
    background-color: #FFF;
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
}

.sampleStyleC {
    background-color: #ddffdd;
    font-family: sans-serif;
    font-size: 10pt;
    font-style: italic;
}

.sampleStyleD {
    background-color: Blue;
    color: White;
    font-family: Arial;
    font-size: 10pt;
}

/*Popup Control*/
.popupControl {
    background-color: White;
    position: absolute;
    visibility: hidden;
}

/* Ancho para el Calendar Text*/
.CalendarPersonalizado .ajax__calendar_body {
    width: 250px;
}

/* Para ocultar un campo*/
.CampoOculto {
    display:none;
}